.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.profilePhoto{
  position: relative;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  background-size: cover !important;

  .edit{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    color: black;
    right: 30px;
    bottom: 5px;
    width: 30px;
    height: 30px;

    &:hover{
      cursor: pointer;
      box-shadow: 5px 5px 15px 0px red;
      width: 32px;
      height: 32px;
      background-color: lightblue;
    }
  }
  .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;

    .delete{
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-image: url("../../../assets/images/delete.png");
      background-size: contain;
      cursor: pointer;
    }

    &:hover{
      opacity: 0.5;
    }
  }
}
table {
  width: 100%;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.registerButton {
  width: 90%;
}
pdf-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
}

/*Expanded table styles*/
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
/*End of expanded table*/

textarea {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.mobile-table{
  height: 500px;
  background-color: yellow;
}
.mobile-table{
  display: none;
}

.delete-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .desktop-table {
    display: none;
  }
  .mobile-table{
    display: block;
  }
}
