<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h4>International schools Alumni Association</h4>
        </div>
      </div>
      <mat-accordion>
        <mat-expansion-panel hideToggle [expanded]="panelOpenState">
          <mat-expansion-panel-header (click)="expansionHeaderClick()">
            <mat-panel-description class="d-flex justify-content-end">
              <button mat-raised-button color="primary" (click)="!panelOpenState">Add Student
                <mat-icon>add</mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <mat-card>
              <form #frm [formGroup]="studentService.form" class="example-form" #formDirective="ngForm" (ngSubmit)="registerStudent(formDirective)">
                <mat-card-content>
                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-12 col-md-4">
                          <div class="row">
                            <div class="d-flex justify-content-center align-items-center">
                              <div class="profilePhoto img-fluid">
                                <img [src]="studentService.profileImageUrl === '' ? 'assets/images/user-picture.png' : studentService.profileImageUrl" class="profilePhoto img-fluid">
                                <div class="edit">
                                  <form (ngSubmit)="$event.stopPropagation()">
                                    <input #fileInput type="file" accept="image/*" style="display: none" (change)="onFileSelect($event)">
                                    <button (click)="fileInput.click()"><span class=""><mat-icon matSuffix>mode_edit</mat-icon></span></button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-8">
                          <div class="row">

                            <div class="col-12 col-md-4">
                              <mat-form-field [style.width.%]=100 appearance="outline">
                                <mat-label>First Name </mat-label>
                                <input matInput formControlName="fname" required>
                                <mat-error *ngIf="studentService.registerFormControl.fname.invalid">
                                 {{studentService.registerFormControl.fname.hasError('required')? 'First name is required':studentService.registerFormControl.fname.hasError('minlength')
                                  ?'First name should have at least three characters':''}}
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-md-4">
                              <mat-form-field [style.width.%]=100 appearance="outline">
                                <mat-label>Last Name </mat-label>
                                <input matInput formControlName="lname">
                                <mat-error *ngIf="studentService.registerFormControl.lname.invalid">
                                  {{studentService.registerFormControl.lname.hasError('minlength')? 'Last name should have at least three characters': ''}}
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-md-4">
                              <mat-form-field [style.width.%]=100 appearance="outline">
                                <mat-label>Other Name </mat-label>
                                <input matInput formControlName="lname">
                                <mat-error *ngIf="studentService.registerFormControl.oname.invalid">
                                  {{studentService.registerFormControl.oname.hasError('minlength')? 'Other name should have at least three characters': ''}}
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">

                            <div class="col-12 col-md-6">
                              <mat-form-field [style.width.%]=100 appearance="outline">
                                <mat-label>Address Line 1</mat-label>
                                <input matInput formControlName="line1" required>
                                <mat-error *ngIf="studentService.registerFormControl.line1.invalid">
                                  {{studentService.registerFormControl.line1.hasError('required')? 'Address line 1 is required':studentService.registerFormControl.line1.hasError('minlength')
                                  ? 'Address should have at least three characters': ''}}
                                </mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-md-6">
                              <mat-form-field [style.width.%]=100 appearance="outline">
                                <mat-label>Address Line 2</mat-label>
                                <input matInput formControlName="line2">
                                <mat-error *ngIf="studentService.registerFormControl.line2.invalid">
                                  {{studentService.registerFormControl.line2.hasError('minlength')? 'Address should have at least three characters': ''}}
                                </mat-error>
                              </mat-form-field>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-12 col-md-4">
                          <mat-form-field [style.width.%]=100 appearance="outline">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput formControlName="contact">
                            <mat-error *ngIf="studentService.registerFormControl.contact.invalid">
                              {{studentService.registerFormControl.contact.hasError('minlength')? 'Invalid mobile number': ''}}
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-12 col-md-4">
                          <mat-form-field [style.width.%]=100 appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                            <mat-error *ngIf="studentService.registerFormControl.email.invalid">
                              {{studentService.registerFormControl.email.hasError('minlength')? 'Invalid email': ''}}
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-12 col-md-4">
                          <mat-form-field [style.width.%]=100 appearance="outline">
                            <mat-label>ID Number</mat-label>
                            <input matInput formControlName="nic" required>
                            <mat-error *ngIf = studentService.registerFormControl.nic.invalid>
                              {{studentService.registerFormControl.nic.hasError('required')? 'NIC number is required':''}}
                            </mat-error>
                          </mat-form-field>
                        </div>

                      </div>
                      <div class="row">

                        <div class="col-12 col-md-4">
                          <mat-form-field [style.width.%]=100 appearance="outline">
                            <mat-label>Birth year</mat-label>
                            <input matInput formControlName="year" required>
                            <mat-error *ngIf = studentService.registerFormControl.year.invalid>
                              {{studentService.registerFormControl.year.hasError('required')?'Birth year is requird': ''}}
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-12 col-md-4">
                          <mat-form-field [style.width.%]=100 appearance="outline">
                            <mat-label>Birth Month</mat-label>
                            <input matInput formControlName="month" required>
                            <mat-error *ngIf = studentService.registerFormControl.month.invalid>
                              {{studentService.registerFormControl.month.hasError('required')?'Birth month is requird': ''}}
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-12 col-md-4">
                          <mat-form-field [style.width.%]=100 appearance="outline">
                            <mat-label>Birth Date</mat-label>
                            <input matInput formControlName="date" required>
                            <mat-error *ngIf = studentService.registerFormControl.date.invalid>
                              {{studentService.registerFormControl.date.hasError('required')? 'Birth date is required':''}}
                            </mat-error>
                          </mat-form-field>
                        </div>

                      </div>
                      <div class="row">

                        <div class="d-flex justify-content-center col-12 col-md-4">
                          <section class="example-section">
                            <mat-radio-group formControlName="gender">
                              <mat-radio-button class="example-margin" value="MALE">Male</mat-radio-button>
                              <mat-radio-button class="example-margin" value="FEMALE">Female</mat-radio-button>
                            </mat-radio-group>
                          </section>
                        </div>

                        <div class="col-12 col-md-4">
                          <mat-form-field [style.width.%]=100 appearance="outline">
                            <mat-label>DS Division</mat-label>
                            <input matInput formControlName="dsDivision" required>
                            <mat-error *ngIf = studentService.registerFormControl.dsDivision.invalid>
                              {{studentService.registerFormControl.dsDivision.hasError('required')? 'Divisional Secretary Division is required':''}}
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-12 col-md-4">
                          <mat-form-field [style.width.%]=100 appearance="outline">
                            <mat-label>GN Division</mat-label>
                            <input matInput formControlName="gnDivision" required>
                            <mat-error *ngIf = studentService.registerFormControl.gnDivision.invalid>
                              {{studentService.registerFormControl.gnDivision.hasError('required')? 'Grama Niladhari Division is required':''}}
                            </mat-error>
                          </mat-form-field>
                        </div>

                      </div>
                      <div class="row">

                        <div class="col-12 col-md-4">
                          <mat-form-field [style.width.%]=100 appearance="outline">
                            <mat-label>Language</mat-label>
                            <input matInput formControlName="language" required>
                            <mat-error *ngIf = studentService.registerFormControl.language.invalid>
                              {{studentService.registerFormControl.language.hasError('required')? 'Language is required':''}}
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-12 col-md-4">
                          <mat-form-field [style.width.%]=100 appearance="outline">
                            <mat-label>Experience</mat-label>
                            <input placeholder="1 year 6 months" matInput formControlName="experience" required>
                            <mat-error *ngIf = studentService.registerFormControl.experience.invalid>
                              {{studentService.registerFormControl.experience.hasError('required')? 'Experience is required':''}}
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-12 col-md-4">
                          <mat-form-field [style.width.%]=100 appearance="outline">
                            <mat-label>Course duration</mat-label>
                            <input matInput formControlName="courseDuration" required>
                          </mat-form-field>
                        </div>

                      </div>
                      <div class="row mb-3">

                        <div class="d-flex justify-content-center align-items-center col-12 col-md-4">
                          <mat-slide-toggle formControlName="isFollowed">Any course followed</mat-slide-toggle>
                        </div>

                      </div>
                      <div class="row">

                        <div class="d-flex justify-content-center align-items-center col-12">
                          <button mat-raised-button color="primary" class="registerButton">Register Student</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </form>
            </mat-card>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="desktop-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Register number Column -->
      <ng-container matColumnDef="RegNo">
        <th mat-header-cell *matHeaderCellDef>Reg No</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fname+' '+element.lname}} </td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender.toLowerCase()}} </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.line1+','+element.line2}} </td>
      </ng-container>

      <!-- Contact Column -->
      <ng-container matColumnDef="Contact">
        <th mat-header-cell *matHeaderCellDef> Contact </th>
        <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
      </ng-container>

      <ng-container matColumnDef="View">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="downloadPdf(element.id)">View pdf</button></td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-fab class="delete-icon" color="primary" (click)="deleteStudent(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="mobile-table">
    <table mat-table
           [dataSource]="dataSource" multiTemplateDataRows
           class="mat-elevation-z8">
      <!-- Register number Column -->
      <ng-container matColumnDef="RegNo">
        <th mat-header-cell *matHeaderCellDef>Reg No</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fname+' '+element.lname}} </td>
      </ng-container>

      <ng-container matColumnDef="View">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" [style.width.%]=70 (click)="downloadPdf(element.id)">View pdf</button></td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-fab class="delete-icon" color="primary" [style.width.%]=70 (click)="deleteStudent(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsMobile.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="">
              <div class="expanded-row">
                <div style="width: 80px">Gender:</div>
                <div> {{element.gender.toLowerCase()}} </div>
              </div>
              <div class="expanded-row">
                <div style="width: 80px">Address:</div>
                <div> {{element.line1 +", "+ element.line2}} </div>
              </div>
              <div class="expanded-row">
                <div style="width: 80px">Contact:</div>
                <div> {{element.contact}} </div>
              </div>
              <div class="expanded-row">
                <div style="width: 80px">NIC:</div>
                <div> {{element.nic}} </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsMobile"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumnsMobile;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
</div>
